<div class="page-header"><h1>New Card</h1></div>

<form class="form-horizontal" method="get" action="<%= new_card_path %>">
  <div class="form-group">
    <label class="col-sm-1 control-label" for="card_name">Name:</label>
    <div class="col-sm-5">
      <div class="input-group">
         <input type="text" name="name" class="form-control" autofocus>
         <i class="input-group-addon glyphicon glyphicon-search"></i>
      </div>
    </div>
  </div>  
</form>
