<div class="page-header"><h1>New Card</h1></div>

<form class="form-horizontal" method="get" action="<%= new_card_path %>">
  <div class="control-group">
    <label class="control-label" for="card_name">Name:</label>
    <div class="controls">
      <div class="input-append">
         <input type="text" name="name" class="input-large" autofocus>
         <i class="add-on icon-search"></i>
      </div>
    </div>
  </div>  
</form>

