<!DOCTYPE html>

<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
    <!--
      body, html, img, a {margin: 0; padding: 0; border: none;}
    -->
    </style>
  </head>

  <body>
  <% @deck.cards.each do |card| %>
    <img width="222" height="319" style="margin: 0 1px 1px 0;" src="<%= card_image_path(card) %>">
  <% end %>
  </body>

</html>
